<app-header></app-header>
<div class="contenedor-general">
<!--   <div class="contenedor-imagen">
 -->    <img src="assets/Banner Betplay.jpg">
  <!-- </div> -->
  <div class="contenedor-formulario">
    <h1>Regístrate</h1>
    <div>
      <p>Apreciado Usuario de BetPlay, recuerde que debe registrar sus datos de manera completa, correcta y real para evitar posibles inconvenientes en los procesos de validación de identidad y retiro de ganancias.</p>
    </div>
      <h2>Información personal</h2>
    <form class="formGrid">
      <div class="formGroup">
        <label for="lblTipoDocumento">* Tipo de documento</label>
        <select id="">
          <option> Cedula de ciudadania</option>
        </select>
      </div>

      <div class="formGroup">
        <label for="lblnumeroIdentificacion">* Número de identificación</label>
        <input type="number">
      </div>

      <div class="formGroup">
        <label for="lblFecha">* Fecha de expedición</label>
        <input type="text">
      </div>

      <div class="formGroup">
        <label for="lblLugarExp">* Lugar de expedición</label>
        <input type="text">
      </div>

      <div class="formGroup">
        <label for="lblFechaNacimiento">* Fecha de nacimiento</label>
        <input type="text">
      </div>

      
      <div class="formGroup">
        <label for="lblPrimerNombre">* Primer nombre</label>
        <input type="text">
      </div>

      <div class="formGroup">
        <label for="lblSegundoNombre">Segundo nombre</label>
        <input type="text">
      </div>
      
      
      <div class="formGroup">
        <label for="lblPrimerApellido">* Primer Apellido</label>
        <input type="text">
      </div>

      <div class="formGroup">
        <label for="lblSegundoApellido">Segundo Apellido</label>
        <input type="text">
      </div>
    </form>
    <h2>Información de contacto</h2>
    <form class="formGrid">
      <div class="formGroup">
        <label>* Nacionalidad</label>
        <input type="text">
      </div>

      <div class="formGroup">
        <label>* Género</label>
        <input type="text">
      </div>

      <div class="formGroup">
        <label>* Teléfono móvil</label>
        <input type="text">
      </div>

      <div class="formGroup">
        <label>* Correo electrónico</label>
        <input type="text">
      </div>

      <div class="formGroup">
        <label>* Dirección de residencia</label>
        <input type="text">
      </div>

      <div class="formGroup">
        <label>* Municipio</label>
        <input type="text">
      </div>
    </form>
    <h2>Información de seguridad</h2>
    <form class="formGrid">
      <div class="formGroup">
        <label>* Contraseña</label>
        <input type="text">
      </div>

      <div class="formGroup">
        <label>* Confirmar contraseña</label>
        <input type="text">
      </div>

      <div class="formGroup">
        <label>* ¿Has sido declarado interdicto?</label>
        <select>
          <option>Si</option>
          <option>No</option>
        </select>
      </div>

      <div class="formGroup">
        <label>¿Es usted persona expuesta políticamente (PEP)?</label>
        <select>
          <option>Si</option>
          <option>No</option>
        </select>
      </div>
    </form>
    <h2>Autorizaciones</h2>
    <div>
      <input type="checkbox">
      <label>Autorizo el tratamiento de mis datos personales.</label>
    </div>
    <div>
      <input type="checkbox">
      <label>Autorizo el envío de comunicaciones comerciales a mis datos de contacto.</label>
    </div>
    <div>
      <input type="checkbox">
      <label>Acepto términos y condiciones de juego, los cuales puedes consultar</label>
    </div>
    <div>
      <input type="checkbox">
      <label>Declaro que el origen y destino de mis recursos provienen y serán destinados a actividades licitas.</label>
    </div>
    <h2>Codigo promocional(Opcional)</h2>
    <form class="formGrid">
      <div>
        <label>Tienda</label>
        <input type="text">
      </div>

      <div>
        <label>Referido</label>
        <input type="text">
      </div>
    </form>

    <div class="contenedor-boton">
      <button type="submit">Completar Registro</button>
    </div>
  </div>
</div>
<app-footer></app-footer>